language: go

go:
  - 1.2
  - 1.3
  - 1.4
  - 1.5
  - tip

install:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
  - go get github.com/axw/gocov/gocov
  - go list -f '{{range .Imports}}{{.}} {{end}}' ./... | xargs go get -v
  - go list -f '{{range .TestImports}}{{.}} {{end}}' ./... | xargs go get -v

before_script:
  - mysql -e 'CREATE DATABASE ozzo_dbx_test;';

script:
  - $HOME/gopath/bin/goveralls -service=travis-ci
